/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 250px;
  text-align: center;
  margin: 10px;
  box-sizing: border-box;
}

h3 {
  margin-top: 0;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  box-sizing: border-box;
}

button:hover {
  background-color: #45a049;
}

/* Form styles */
.formulario {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-sizing: border-box;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input, textarea, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  height: 100px;
}

#imagen-preview {
  margin-top: 10px;
  text-align: center;
}

#candidato-imagen {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Hide the preview initially */
#formulario-inscripcion img {
  display: none;
}
